In [2]:
5%2

1

In [3]:
!python --version

Python 3.8.5

In [2]:
import pandas as pd

In [3]:
new_df = pd.DataFrame({'PID':[23,45,12],'Name':['Steve','harry','Colette']})

In [4]:
new_df

   PID     Name
0   23    Steve
1   45    harry
2   12  Colette

In [5]:
new_df.sort_values(by='PID')

   PID     Name
2   12  Colette
0   23    Steve
1   45    harry